html {
  font-size: 1px;
}

body {
  font-size: 14rem;
}

.blue {
  color: rgba(2, 140, 196, 1);
  font-weight: 700;
  font-size: 17rem;
}

.foods-category {
  padding: 8rem 7rem;
  max-width: 1000rem;
  margin: 0 auto;
  color: rgba(51, 51, 51, 1);
}

.top-foods-category {
  border: 4px solid #33B34B;
  border-radius: 10px;
  padding: 23rem 40rem;
  margin-bottom: 18rem;

  &__content {
    display: flex;
    gap: 30rem;
    align-items: center;
  }

  &__text {
    font-size: 15px;
  }

  &__title {
    font-size: 30rem;
  }
}

.foods-category {

  &__content {
    display: flex;
    gap: 50rem;
  }
}

.category-all {
  background: rgba(50, 179, 76, 0.3);
  border-radius: 10px;
  padding: 12rem 26rem;

  &__title {
    display: flex;
    align-items: center;
    font-size: 23rem;
    margin-bottom: 23rem;
  }

  &__icon {
    width: 40rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 13rem;
  }

  &__item {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 8rem;
    font-size: 15rems;
  }
}

.category-search {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 35rem;
  }

  &__name {
    font-size: 23px;
  }

  &__similars {
    max-width: 450rem;
  }
}

.search-similars {

  &__link {
    color: #028CC4;
    font-size: 16rem;
  }
}

@media (max-width:720px) {
  html {
    font-size: 0.8px;
  }

  .foods-category {
    &__content {
      gap: 10rem;
    }
  }
}

.loaded_hiding {
  display: none;
}
