.wrapper{
    max-width: 986px;
    margin: 0 auto;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.title, 
.text{
    font-family: 'Inter';
    font-style: normal;
}
.title{
    font-weight: 700;
}
.text{
    font-weight: 400;
}
.list-item{
    color: #B2C8E2;
    line-height: 28px;
    margin: 6px;
}
.list-item:first-child{
    margin-left: 0;
}
.list-item a{
    color: #B2C8E2;
    line-height: 28px;
}
.bread-crumbs-list{
    align-items: center;
}
.fit-title-wrapper{
    border-radius: 10px;
    border: 4px solid #33B34B;
    margin-bottom: 20px;
}
.fit-wrap{
    margin: 25px;
}
.fit-title,
.fit-description{
    color: #5E5E53;
}
.fit-icon{
    margin-right: 25px;
}
.fit-search-wrapper{
    border-radius: 10px;
    border: 1px solid #767676;
    margin-bottom: 20px;
}
.search-title,
label,
.slider-descr-title,
.slider-subtitle,
.slider-title,
.lider-list-item,
.exercise-type-title{
    color: #333333;
}
.slider-list li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}
.search-title{
    margin-bottom: 10px;
}
.input-fit-search{
    width: 468px;
    border-radius: 10px;
    border: 1px solid #767676;
    margin-bottom: 5px;
    padding: 5px;
    font-family: sans-serif;
}
.fit-slider-wrapper{
    border-radius: 10px;
    border: 2px solid #33B34B;
    margin: 0 auto;
    padding: 25px;
}
.slider-title-wrap{
    justify-content: space-between;
    align-items: center;
}
.slider-description-wrap{
    border-radius: 10px;
    border: 1px solid #767676;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
}
.slider-descr-title{
    padding-bottom: 25px;
}
.slider-time-wrap{
    width: 250px;
    justify-content: space-evenly;
}
.slider-table{
    justify-content: space-evenly;
}
.slider-elipse{
    width: 100px;
    margin: 0 auto;
    justify-content: space-evenly;
}
.elipse{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #767676;
}
.active{
    background: #33B34B;
}
.exercise-type-title{
    text-align: center;
    padding: 25px 0;
}
.type-wrapper{
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.type-text{
    text-align: right;
}
.type{
    width: 290px;
    margin-bottom: 10px;
}
.type-table{
    justify-content: space-between;
}
.type-title{
    background: #33B34B;
    color: #FFFFFF;
    padding: 3px;
}
.type-text{
    background: #FCF3E5;
    padding: 3px;
}
.item-btn,
.item-cals{
    line-height: 30px;
    padding: 0 5px;
}
.item-btn:hover,
.item-btn:active,
.item-btn:focus,
.active-item{
    background: #33B34B;
    color: #FFFFFF;
    cursor: pointer;
}
.item-cals{
    text-align: right;
}
.not-found{
    display: none;
}

@media screen and (max-width: 513px){
    .input-fit-search{
        width: 300px;
    }
}

@media (max-width: 360px) {
    .input-fit-search {
        width: 235px;
    }
}
