@import './calendar.scss';

.myfatsecret {
  &__tabs {
    border: 2px solid #33B34B;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__card {
    outline: none;
    border: 0;
    background: transparent;
  }
}

.bread-crumbs {
  color: #B2C8E2;
  display: flex;
  column-gap: 10px;
  align-items: center;

  li {
    margin: 5px 0;
  }

  a {
    color: #B2C8E2;
  }
}
