.myfatsecret-food-fitness{
  margin-bottom: 70px;
  &__col-category{
    padding: 10px;
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    justify-content: center;
    text-align: center;
    color: #32B34C;
    font-weight: 700;
  }
  &__row-category{
    h2{
      text-align: left;
    }
    font-weight: 700;
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }
}
.new-item{
  h3{
    text-align: left;
    margin-left: 40px;
  }
  font-weight: 700;
  display: grid;
  grid-template-columns: 60% 10% 10% 10% 10%;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
.addItem{
  font-weight: 700;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}
.day-summary{
  background: #EDF1E9;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 70px;
  padding: 15px 10px;
  &__maintext{
    text-align: left;
    font-weight: 700;
  }
  h3{
    font-size: 13px;
  }
  p{
    font-size: 14px;
  }
  &__category{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
  }
  &__block{
    padding: 10px;
    width: 20%;
    background: #FFFFFF;
    border: 2px solid #BCBCBC;
    border-radius: 10px;
    &.RDI{
      width: 35%;
      display: flex;
      align-items: center;
      column-gap: 10px;
      h4{
        font-style: 16px;
      }
    }
  }
  .rdi-block{
    display: flex;
    flex-direction: column;
    &__calories{
      font-size: 8px;
    }
  }
}