@import './calendar.scss';

.myfatsecret {
  &__tabs {
    display: flex;
    margin-top: 10px;
  //  border: 2px solid #33B34B;
  //  border-radius: 10px;
  //  margin-bottom: 10px;
  }

  &__card {
    border-radius: 10px 10px 0 0;
    border: none;
    background: #33B34B;
    width: 185px;
  }
}

.bread-crumbs {
  color: #B2C8E2;
  display: flex;
  column-gap: 10px;
  align-items: center;

  li {
    margin: 5px 0;
  }

  a {
    color: #B2C8E2;
  }
}

.myfatsecret__block{
  border: 4px solid #33B34B;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  margin-bottom: 20px;
}
