@import './null.scss';
@import './headFoot.scss';
@import './signLog.scss';
@import './about.scss';
@import './generalFitnessPage.css';
@import './myfatsecret.scss';
@import './myfatsecret-food.scss';

.container{
  max-width: 986px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}
button{
  cursor: pointer;
}
