@import './null.scss';
@import './headFoot.scss';
@import './signLog.scss';
@import './about.scss';
@import './generalFitnessPage.css';
@import './foodsCategory.scss';
@import './singleFood.scss';
@import './singleRecipe.scss';
@import './myfatsecret.scss';
@import './myfatsecret-food-fitness.scss';
@import './popup.scss';
@import './page404.css';

.container {
  max-width: 986px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

.crumbs {
  display: flex;
  gap: 8px;
  color: rgba(178, 200, 226, 1);
  align-items: center;
  margin-bottom: 8px;

  .crumbs__sep {
    font-size: 14px;
  }

  .crumbs__link {
    color: rgba(178, 200, 226, 1);
    font-size: 12px;
  }
}
